<div class="mastfoot">
    <div class="inner">
        <footer>
            <p class="info">
                <a href="https://littlebit.bz" target="_blank" rel="noreferrer">LittleBit</a> – Made with <font size="7" color="red">💗</font> by a bunch of geeks
            </p>
        </footer>
    </div>
</div>
