<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("LittleBit @ Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>        
    </div>
</nav>