<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("LittleBit @ Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-brand navbar-right">
            @Html.ActionLink("About Us", "About", "Home", null, new {@class = "btn btn-xs btn-default", style="font-weight:bold"})
        </div>
    </div>
</nav>