@{
    ViewBag.Title = "About Us";
}

<h2>About Us</h2>

<div class="row" style="text-align: left">
    We’re LittleBIT, a coding/hackathon group based in the Netherlands.
    <br /><br />
    Our goal: share knowledge, have fun and connect. This is why everybody is welcome to join us and contribute to our projects!
    <br /><br />
    The funny thing is: you don’t even have to be a developer! We give all those network and system engineers out there a warm welcome. We try to realize projects which are challenging for everyone, from beginners to experts no matter what kind of background you have. We are here to learn from each other and develop a broader spectrum of skills.
    <br />
    <br />
    All our projects are open source, you can find them on our <a href="https://github.com/LittleBIT">GitHub Page</a>
</div>