@{
	ViewBag.Title = "Home";
}
<!-- Thanks to @@mdo for the Bootstrap template -->
<h1 class="cover-heading">This is the home of LittleBit</h1>
<p class="lead">This page is the portal to all our services/projects. The current project we are working on is LittleBit Pass, a password vault service!</p>
<p class="lead"></p>
<p class="lead">
    <a href="https://pass.littlebit.bz" class="btn btn-lg btn-primary">Go to LittleBit Pass</a>
    <a href="https://github.com/LittleBit" class="btn btn-lg btn-default"><i class="fa fa-github-square"></i> GitHub</a>
    @Html.ActionLink("Next Hackathon", "Hackathon", "Home", new { area = "" }, new { @class = "btn btn-lg btn-success" })
</p>